<!-- <div class="landing">
    <app-landing></app-landing>
</div> -->
<div class="container container-lg justify-content-center align-items-center info">
    <div class="text-center title-container" id="title">
        <h2 class="title">Payment Terms</h2>
    </div>
    <div class="content mt-4">
        <div class="title">
            <u>
                <p>For On Hand Goods</p>
            </u>
        </div>
        <ol>
            <li>
                <p>Full payment</p>
            </li>
            <li>
                <p>Layaway Payment –monthly installments of payment. In shopping cart you can avail of the layaway
                    payment option (not all items have a layaway payment term) where you can select how many installment
                    payments and the date of the month to process the payment. A non-refundable deposit (NRD) is
                    required to
                    be able to reserve the item. You can view your installment payment amount, shipping amount and
                    payment
                    schedule in View Orders of your logged in account.</p>
            </li>
        </ol>
        <div class="title">
            <u>
                <p>Pre Order goods</p>
            </u>
        </div>
        <span>
            <ol>
                <p>The Downpayment amount is paid upon checkout and the remaining balance including shipping can be paid
                    once
                    we inform you that the item has arrived. You can view your remaining balance and shipping amount in
                    View
                    Orders of your logged in account.</p>
            </ol>

        </span>
    </div>
</div>