<div class="container container-sm justify-content-center align-items-center" *ngIf="!isSuccess">
    <div class="row">
        <div class="col-sm-12">
            <div class="byz-section-body">
                <form class="form-horizontal" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                    <div class="form-group mt-3">
                        <label for="password">Enter New Password</label>
                        <input type="password" id="password" class="form-control" formControlName="password"
                            (keyup)="errorMessage = null">
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm New Password</label>
                        <input type="password" id="confirmPassword" class="form-control"
                            formControlName="confirmPassword" (keyup)="errorMessage = null">
                    </div>
                    <div *ngIf="errorMessage !== null && errorMessage !== undefined && errorMessage !== ''"
                        class="row mt-2">
                        <div class="col">
                            <label>{{ errorMessage }}</label>
                        </div>
                    </div>
                    <div class="mt-4">
                        <button type="submit" class="btn btn-block btn-accent">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container container-sm justify-content-center align-items-center" *ngIf="isSuccess">
    <div class="new-center">
        <h3 class="text-center">Password successfully changed!</h3>
        <img class="logo logo-success my-3" src="assets/img/success.png" alt="Password success">
        <div class="text-center">You may now login with your new password.</div>
        <div class="pt-3 text-center"><a class="link" routerLink="/">Go Back Home</a></div>
    </div>
</div>