<div class="container container-lg justify-content-center align-items-center info">
    <div class="text-center">
        <h2 class="title">Privacy Policy</h2>
    </div>
    <div class="text-left">
        <div class="privacy">
            <p class="privacy-text"><b>At ShopByzmo.com </b>, the privacy of our visitors is of extreme importance to
                us. This
                privacy policy document outlines the types of personal information is received and collected by
                ShopByzmo.com and how it is used.</p>
            <p class="privacy-text"> Shopbyzmo was establish in May 2009</p>
        </div>
    </div>
    <div class="text-left">
        <h4 class="sub-title"><u>Privacy Statement</u></h4>
        <p class="privacy-text">We are committed to protecting your privacy. Authorized employees within the company on a need to know basis only use
        any information collected from individual customers. We constantly review our systems and data to ensure the best
        possible service to our customers. We will not sell, share, or rent your personal information to any third party or use
        your e-mail address for unsolicited mail. Any emails sent by this Company will only be in connection with the provision
        of agreed services and products. This Policy and your use of this Website shall be governed in all respects by the laws
        of the Philippines</p>
    </div>
    <div class="text-left">
        <h4 class="sub-title"><u>How we collect Personal Data?</u></h4>
        <ul>
            <li>When you sign up/register to create an account in our website</li>
            <li>When you subscribe to our newsletter</li>
            <li>When you want to be notified for product availability</li>
            <li>When you interact with us through email, phone number or private messaging in our social media account</li>
            <li>when you link your Shopbyzmo account with your social media (facebook) or other services (gmail), in accordance with
                the provider’s policies, to signup and create an account in our website</li>
            <li>When you complete an order as a guest user</li>
        </ul>
        <p class="privacy-text">We are committed to protecting your privacy. Authorized employees within the company on a need
            to know basis only use
            any information collected from individual customers. We constantly review our systems and data to ensure the best
            possible service to our customers. We will not sell, share, or rent your personal information to any third party or
            use
            your e-mail address for unsolicited mail. Any emails sent by this Company will only be in connection with the
            provision
            of agreed services and products. This Policy and your use of this Website shall be governed in all respects by the
            laws
            of the Philippines</p>
        <p class="privacy-text">We do not collect and store your credit card, paypal, gcash and grabpay details, whether to process your payment or for
        customer service purposes. Your credit card, paypal, gcash and grabpay details are collected, processed and stored
        directly by our third-party payment processors pursuant to their terms of use and privacy policies. However, we may
        collect your bank account or other necessary details to process refunds.</p>
        <p class="privacy-text">Please ensure that all Personal Data submitted to us is complete, accurate, true and correct. Failure to do so may
        result in our inability to provide you with the products and services you have requested.</p>
    </div>
    <div class="text-left">
        <h4 class="sub-title"><u>What Personal Data we collect?</u></h4>
        <ul>
            <li>Name</li>
            <li>Email Address</li>
            <li>Shipping / Billing Address</li>
            <li>Telephone / Mobile Number</li>
            <li>Facebook name</li>
            <li>Confirmation of proof of payments such as emails or photos</li>
        </ul>
        <p class="privacy-text">If you sign up to be a user of our Platform using your social media account, we may access information about you which
        you have voluntarily provided to your Social Media Account provider in accordance with such provider's policies, and we
        will manage and use any such personal data in accordance with this Policy at all times.</p>
    </div>

    <div class="text-left">
        <h4 class="sub-title">
            <u>Why do we collect this Personal Data</u></h4>
        <ul>
            <li>To process and fulfill your order</li>
            <li>To process, verify and collect your payment</li>
            <li>To deliver your order by arranging for shipping with couriers including messaging you to obtain delivery instructions</li>
            <li>To register and maintain your user account with regards to user information (name, email, mobile number, shipping
            address) and other account services such as Wishlist.</li>
            <li>To communicate with you in relation to your queries, requests or feedback through your email, phone number, or private
            messaging on your facebook account.</li>
            <li>To notify you of product availability when it becomes available</li>
            <li>To process your refunds or returns</li>
            <li>To send you marketing communication regarding latest news and product promotions when you subscribe to our newsletter</li>
            <li>To communicate with you in relation to (i) your queries, requests and feedback, (ii) material changes to our Website
            or Apps Terms of Service, Policy or other terms and conditions, and (iii) matters relating to the operation of your
            account</li>
            <li>To monitor and enforce compliance with our Terms of Service, including dispute resolution;</li>
            <li>To comply with (i) internal risk controls, (ii) the terms of our access to payment processing, financial or banking
            services such as credit card disputes, fraud, billing errors, or (iii) any applicable law; and</li>
            <li>To ensure our Website and Apps function properly and to improve their performance, by carrying out activities such as
            debugging, statistical analyses for optimizing our Website.</li>
        </ul>
    </div>
    <div class="text-left">
        <h4 class="sub-title">
            <u>How to access, update and delete your Personal data?</u>
        </h4>
            <p class="privacy-text">&nbsp; You may access or update your name, e-mail address, mobile number, and shipping addresses by logging in to your user
            account under “View Profile” and clicking the “Edit” button under each relevant field.</p>

        <p class="privacy-text">&nbsp; You may delete or withdraw your consent for collection, use and disclosure of your personal data by sending us an email
        at shopbyzmo@gmail.com.</p>
        <p class="privacy-text">&nbsp; Furthermore, you may unsubscribe to our newsletter using the unsubscribe button in our emails or by emailing us as well.</p>

        <p class="privacy-text">We may update this Privacy Policy from time to time in order to reflect changes to our practices or for other
        operational, legal, or regulatory reasons.</p>

        <p class="privacy-text">Last updated on: July 2022</p>
    </div>
</div>