<!-- <div #template>
    <ng-content></ng-content>
</div>
<div class="container" *ngIf="template.children.length == 0">
    <div class="nav">
        <div class="breadcrumb" *ngFor="let route of breadcrumbs" [ngClass]="{'last': route.terminal}">
            <a href="" *ngIf="!route.terminal" [routerLink]="[route.url]">{{ route.displayName }}</a>
            <span *ngIf="route.terminal">{{ route.displayName }}</span>
        </div>
    </div>
</div> -->
<ul class="breadcrumb">
    <ng-template ngFor let-route [ngForOf]="breadcrumbs">
        <li *ngIf="!route.terminal" class="breadcrumb-item">
            <a class="bread" href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
        </li>
        <li *ngIf="route.terminal" class="breadcrumb-item active" aria-current="page">{{ route.displayName }}</li>
    </ng-template>
</ul>