.container {
    padding: 25px 0px 25px 0px;
    .title {
        font-size: 20px;
        letter-spacing: 0;
        line-height: 32px;
        position: relative;
        text-transform: capitalize;
        color: black;
        font-weight: bold;
    }
}

