<div class="container align-items-center dashboard">
    <div class="row mod-profile">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="row profile-dashboard">
                <div class="profile-dashboard__item btn btn-panel">
                    <a routerLink="information">
                        <div class="panel-body">
                            <div class="profile-dashboard__item-icon">
                                <span class="fa fa-cog" aria-hidden="true"></span>
                            </div>
                            <div>
                                <h4 class="profile-dashboard__item-title">Personal information</h4>
                                <p class="profile-dashboard__item-text">Change your login and other options</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="profile-dashboard__item btn btn-panel">
                    <a routerLink="addresses">
                        <div class="panel-body">
                            <div class="profile-dashboard__item-icon">
                                <span class="fas fa-map-marker-alt" aria-hidden="true"></span>
                            </div>
                            <div>
                                <h4 class="profile-dashboard__item-title">Addresses</h4>
                                <p class="profile-dashboard__item-text">Add or edit your address</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>