<div class="container d-flex justify-content-center align-items-center">
    <div class="thank-you">
        <img alt="thank-you" src="assets/img/byzmo_header.png">
        <div class="thank-you-text text-center">
            <h1 class="pt-2">Password Reset Request Sent</h1>
            <div class="pt-2">An email will be sent to your inbox shortly containing a link to reset your password.
            </div>
        </div>

        <div class="register pt-4">
            <button class="btn btn-outline-primary" routerLink="/">Go Back Home</button>
        </div>
    </div>
</div>