<!-- <div class="container d-flex justify-content-center align-items-center">
    <div class="thank-you">
        <img alt="thank-you" src="assets/img/byzmo_header.png">
        <div class="thank-you-text text-center">
            <h1 class="pt-2">Payment Complete</h1>
            <h1 class="pt-2">{{ amountPay | conversion }}</h1>
            <div class="pt-2">Thank you for shopping with us.
            </div>
        </div>

        <div class="register pt-4">
            <button class="btn btn-outline-primary" (click)="goToProduct()">Proceed</button>
        </div>
    </div>
</div> -->


<div class="byz-success">
    <div class="byz-success-cont">
        <div class="byz-success-head">
            <img src="assets/img/success.png" class="logo" alt="Shop BYZMO">
        </div>
        <h2>All is good on your end.</h2>
        <p>We've proccess your payment to our merchant.
            <a href="client-order">Return to order page</a>
        </p>
    </div>
</div>