<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-header bg-dark text-light">
                <div class="row">
                    <div class="col-md-9 col-lg-9 col-12">
                        <span>Home Feature</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form autocomplete="off" class="form-horizontal" [formGroup]="categoryForm" (submit)="save()">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-12">
                            <div class="form-group">
                                <div><label for="start-date">1st:</label></div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <select class="form-control" id="first" formControlName="first">
                                            <option [ngValue]="cd.code" *ngFor="let cd of collectibleDolls">
                                                {{ cd.category }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-12">
                            <div class="form-group">
                                <div><label for="start-date">2nd:</label></div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <select class="form-control" id="first" formControlName="second">
                                            <option [ngValue]="cd.code" *ngFor="let cd of collectibleDolls">
                                                {{ cd.category }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-12">
                            <div class="form-group">
                                <div><label for="start-date">3rd:</label></div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <select class="form-control" id="first" formControlName="third">
                                            <option [ngValue]="cd.code" *ngFor="let cd of collectibleDolls">
                                                {{ cd.category }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-12">
                            <div class="form-group">
                                <div><label for="start-date">4th:</label></div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <select class="form-control" id="first" formControlName="fourth">
                                            <option [ngValue]="cd.code" *ngFor="let cd of collectibleDolls">
                                                {{ cd.category }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-outline-accent submit">
                        <i class="fa fa-save"> Save</i></button>
                </form>

            </div>
        </div>
    </div>
</div>