.profile {
    width: 810px;
    margin: 50px auto 15px;
    height: 26px;
    line-height: 26px;
    text-transform: uppercase;
    color: white !important;
}

.profile-background {
    background-color: #231b2c;
}

.mod-profile {
    box-sizing: border-box;
    background-color: #fff;
    color: #757575;
    padding: 10px 50px 50px 25px;
}

.info {
    position: relative;
    min-height: 50vh;
}