<!-- <div class="landing">
    <app-landing></app-landing>
</div> -->
<div class="container container-lg justify-content-center align-items-center info">
    <div class="text-center">
        <h2 class="title">About Us</h2>
    </div>
    <div class="col-12 text-left">
        <div class="aboutus">
            <p class="aboutus-text">Shopbyzmo is an online third party reseller. We are not affiliated with any of the
                brands we are selling in
                our website. We simply order them from manufacturers and stores and bring them in. We are, in the
                literal
                sense, your "personal shopper".</p>
            <p class="aboutus-text"> Shopbyzmo was establish in May 2009</p>
            <p class="aboutus-text"> Why the name "BYZMO"? Originally, we catered to baby items. Shopbyzmo was born out
                of our need to purchase
                clothes and baby accessories for our kids. Hence the name BYZMO - Baby Gadgets and Gizmos.</p>
            <p class="aboutus-text">
                As time passed, our customers wanted more. They wanted us to cater to their whole families. We started
                shopping goods for their wives, husbands, aunts, uncles, and grandparents. We started shopping for other
                sellers. We started shopping for other stores.</p>

            <p class="aboutus-text">

                In 2011, we, the owners of Shopbyzmo, partnered with Barbie Collector of the Philippines. We brought in
                hard
                to find dolls for doll collectors at affordable prices. From there, we were able to meet other
                collectors
                from different groups like Pinoy na Nagmamanika. We were introduced to a whole new different line of
                dolls...</p>

            <p class="aboutus-text">
                Fastforward 2020, we now cater to wide variety of items. If you see an item online from any legit USA
                online
                store, we can purchase it for you. From clothes to shoes; to groceries and even chewing gum; from toys
                to
                books to crafts and more! . We even bring in goodies for you party needs! If you can see it online, we
                can
                buy it for you! Just send us links!</p>

            <p class="aboutus-text">
                Happy Shopping
                Lots of Love,</p>
            <p class="aboutus-text"> Shop Byzmo</p>

        </div>
    </div>
</div>