<div class="container container-lg justify-content-center align-items-center info">
    <div class="text-center title-container" id="title">
        <h2 class="title">Shipping Policy</h2>
    </div>
    <div class="content mt-4">
        <div class="title">
            <u>
                <p>Philippines Local</p>
            </u>
        </div>
        <ol>
            <li>
                <p>LOCAL Shipping is via LBC. You may track your shipment through https://www.lbcexpress.com/</p>
            </li>
            <li>
                <p>Grab/Lalamove/Mr Speedy. Please put in Special instruction field (Shipping details) upon checkout,
                    what
                    day or time we can send the shipments. We will text you the cost of the grab/lalamove/mrspeedy.</p>
            </li>
        </ol>
        <div class="title">
            <u>
                <p>International Shipments:</p>
            </u>
        </div>
        <div>
            <p>All International orders will be shipped via the following:</p>
        </div>
        <span>
            <ol>
                <li>
                    <p>Philpost - currently on hold due to covid</p>
                </li>
                <li>
                    <p>Fedex / DHL - Price will be quoted after submission of order. We will email you the exact
                        shipping
                        fee. Invoice may be sent via paypal upon request.</p>
                </li>
            </ol>
            <ol>
                <p> Please allow 2 to 3 business days to process and ship the items.
                    We will not ship your items unless the shipping fee and the items have been fully paid.
                </p>
            </ol>

        </span>
    </div>
</div>