@import '../../../assets/styles/site.scss';


.shopping-cart{
    width: 100%;
    // position: -webkit-sticky;
    // position: sticky;
    // top: 0;
}

.layaway {
    background-color: #f8f9fa;
    width: auto;
    border: solid 1px;
}
.discount-details{
    margin-top: 30px;
    .discount {
        width: 75%;
    }
}

.option-controls {
  width: 95%;
}

.header-breadcrumb i {
  &:hover {
    cursor: pointer;
  }
}

.ec{
  text-align: center;
  margin-top: 10px;
}

.customcheck {
    display: block;
      position: relative;
      padding-left: 30px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .customcheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 5px;
  }
  
  /* On mouse-over, add a grey background color */
  .customcheck:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .customcheck input:checked ~ .checkmark {
    background-color: #19647e;
    border-radius: 5px;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .customcheck input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .customcheck .checkmark:after {
    left: 8px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .qty{
    margin-top: 10px;
  }

  .pred{
    color: #ffa500;
  }

  .origprice {
    color: rgb(52, 58, 64);
  }

  .salesprice {
      color: red;
  }

  .btn-outline-accent:hover {
    background: $byz-purple-h !important;
    color: #ffffff;
 }

 .card-header {
  background-color:  $byz-purple-l;
  color: white;
  font-weight: bold;
 }

 .byz-card {
  border-top: none;
 }
.discount-note{
  color: red;
}
@media (max-width: 767px) {

  .discount-code {
    display: contents;
    padding-bottom: 10px;
  }
}



