.orders {
    position: relative;
    min-height: 100vh;
    margin-bottom: 50px;
}

.title {
    font-size: 20px;
    letter-spacing: 0;
    line-height: 32px;
    position: relative;
    text-transform: capitalize;
    color:black;
    font-weight: bold;
    margin-left: 12px;
}

.theader{
    color: #ffffff;
    background-color: #652d90;
  }

// table th, table td{
//     width: 100px;
//     }

//     tbody{
//     width: 100%;
//     margin-right: 20px;
// }

// th:nth-child(1), td:nth-child(1){
//     width: 100px !important;
//     text-align: right;
// }
// th:nth-child(2), td:nth-child(2){
//     width: 140px !important;
//     text-align: left;
// }

// th:nth-child(3), td:nth-child(3){
//     width: 200px !important;
//     text-align: left;
// }

// th:nth-child(4), td:nth-child(4){
//     width: 250px !important;
//     text-align: left;
// }

// th:nth-child(5), td:nth-child(5){
//     width: 100px !important;
//     text-align: left;
// }

// th:nth-child(6), td:nth-child(6){
//     width: 100px !important;
//     text-align: center;
// }

// th:nth-child(7), td:nth-child(7){
//     text-align: center;
// }


.desc{
    word-wrap:break-word;
}


tr.border_bottom td {
    border-bottom: 1px solid black;
}

.table-responsive-lg{
    width: 100%;
}
  

@media (min-width: 767px) {
    .table-responsive {
        overflow-x: hidden;
    }
}

@media only screen and (min-width: 280px) and (max-width: 599px)
{
    
    .buttons{
        white-space: nowrap;
        width: 50%;
    
        .view{
            margin-left: 10px;
        }
    
        .print{
            margin-left: 10px;
        }
    }
}

