.container {
   min-height: 500px;

    .card.info {
        background-color: #F4EEE5;
        .name {
            color: #de7a2a;
            font-size: 16px;
        }
        .details {
            color:#0B3C5D;
            padding-bottom: 20px;
        }
    }

    .project-tab {
        padding: 10%;
        margin-top: -8%;
    }
    .project-tab #tabs{
        background: #007b5e;
        color: #eee;
    }
    .project-tab #tabs h6.section-title{
        color: #eee;
    }
    .project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #0062cc;
        background-color: transparent;
        border-color: transparent transparent #f3f3f3;
        border-bottom: 3px solid !important;
        font-size: 16px;
        font-weight: bold;
    }
    .project-tab .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        color: #0062cc;
        font-size: 16px;
        font-weight: 600;
    }
    .project-tab .nav-link:hover {
        border: none;
    }
    .project-tab thead{
        background: #f3f3f3;
        color: #333;
    }
    .project-tab a{
        text-decoration: none;
        color: #333;
        font-weight: 600;
    }

    .total {
        border-top: solid 1px;
    }


    .payment-details {
        position: relative;
    }
    
    .payment-details-footer {
        position: absolute;
        bottom: 0;
        right: 35%;
        color: #0B3C5D;
        &:hover {
            cursor: pointer;
        }
    }
   

    .thank-you {
        text-align: center;
    
        img {
          height: 200px;
          text-align: center;
        }
    
        .thank-you-text {
    
          h1, h3 {
            margin-bottom: 0;
            line-height: 1;
          }
        }
      }
}
