<div class="container container-sm justify-content-center align-items-center forgot">
    <div class="row mod-login">
        <div class="col-sm-12">
            <div class="logo">
                <img alt="logo" src="assets/img/byzmo_header.png">
            </div>
            <div class="byz-section-body">
                <form class="form-horizontal" [formGroup]="forgotPasswordForm" (ngSubmit)="sendResetLink()">
                    <div class="form-group mt-3">
                	<label for="email" class="byz-vshidden">Email</label>
                        <input type="text" id="email" class="form-control" formControlName="email"
                            (keyup)="errorMessage = null" placeholder="Email Address">
                    </div>
                    <div *ngIf="errorMessage !== null && errorMessage !== undefined && errorMessage !== ''"
                        class="row mt-2">
                        <div class="col">
                            <label>{{ errorMessage }}</label>
                        </div>
                    </div>
                    <div class="mt-4">
                        <button type="submit" class="bz-btn">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>