.mod-login {
  box-sizing: border-box;
  background-color: #fff;
  color: #757575;
  margin-bottom: 20px;

  img {
    height: 250px;
    //width: 100%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

}


.forgot {
  margin-bottom: 20px;
}

.bz-btn{
  height: 35px;
  width: 100%;
  &:hover{
      background-color: #eaba6b;
  }

}