$accent: #343a40;
$accent-light: #3f474e;
$accent-dark: #292d32;

$highlight: #3892d0;
$highlight-dark: #368ac6;

$admin: #19647e;

$unused-1: #343a40;
$unused-2: #19647e;
$unused-3: #56606a;

$byz-cyan: #17a2b8;
$byz-dark-gray: #ccc;
$byz-gray: #6a737d;
$byz-light-gray: #d1d5da;
$byz-black: #333333;
$byz-danger: #dc3545;

$toastr-info: #368ac6;
$toastr-success: #38146c;
$toastr-warning: #f8d72e;
$toastr-danger: #eb4e4e;

$byz-purple-h: #38146c;
$byz-purple-m: #652d90;
$byz-purple-l: #7b52ba;

$byz-pink-h: #bb90ec;
$byz-pink-m: #d0c1ec;
$byz-pink-l: #dd9aac;

$byz-white-h: #fff;


$just-arrived: #faae40;
$sale: #dc3545;
$pre-order: #88b9ef;
$on-hand: #0f71f1;

$byz-yellow: #d19b3d;