

.features {
  width: 100%;
  display: inline-block;
  margin: 50px 0;

  .feature-type {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 3rem;
    border-top: 3px solid #f0f0f0;
    border-bottom: 3px solid #f0f0f0;

    h4 {
      align-self: center;
      text-transform: uppercase;
      font-weight: bold !important;
      font-size: 28px !important;
    }

    a {
      align-self: center;

      span:nth-child(2) {
        display: none;
      }

      &:hover {
        span:nth-child(1) {
          display: none;
        }

        span:nth-child(2) {
          display: inline-block;
        }
      }
    }
  }
}

.header {
  margin-bottom: 20px;
 
}

.slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.slick-slider {
  width: 90%;
  margin: auto;
  position: relative;
  display: block;
  box-sizing: border-box;
}

.slick-slide img {
  display: block;
}

.loadButton {
  text-align:center;
  height: 50px;
}

.load {
	box-shadow: 4px 6px 0px 0px #1564ad;
	background-color:#662e93;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff !important;
	font-size:12px;
	padding:9px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.load:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.load:active {
	position:relative;
	top:1px;
}

@media (max-width: 576px) {
  .features .feature-type {
    flex-flow: column nowrap;
  }
 
}
      
