<div class="byz-notfound">
    <div class="byz-notfound-cont">
        <div class="byz-notfound-head">
            <h1>404</h1>
        </div>
        <h2>Oops! Page not found</h2>
        <p>Sorry, the page you're looking for might have been removed had it's name changed or is temporarily unavailable. 
            <a href="home">Return to homepage</a></p>
        <div class="byz-notfound-social">
            <a href="https://www.facebook.com/shopbyzmo" rel="noreferrer" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a>
            <a href="https://instagram.com/shopbyzmo" rel="noreferrer" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>
            <a href="https://youtube.com/shopbyzmo" rel="noreferrer" target="_blank"><i class="fab fa-youtube-square" aria-hidden="true"></i></a>
        </div>
    </div>
</div>