<div class="byz-section-header mt-3">
    <h5><a class="m-2" (click)="infoCancel()"><span><i class="fas fa-chevron-left header"></i></span></a>
        Account Information
    </h5>
</div>
<div class="byz-section-body mf-max-body-width mt-5">
    <form class="form-horizontal" [formGroup]="accountForm">
        <div class="row pt-1">
            <div class="col-sm-9 col-12">
                <div class="form-group">
                    <label for="bankName">Bank Name <span class="asterisk">*</span></label>
                    <input type="text" id="bankName" class="form-control" formControlName="bankName">
                </div>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-sm-9 col-12">
                <div class="form-group">
                    <label for="accountNumber">Account Number</label>
                    <input type="text" id="accountNumber" class="form-control" maxlength="16"
                        formControlName="accountNumber">
                </div>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-sm-9 col-12">
                <div class="form-group">
                    <label for="accountName">Account Name <span class="asterisk">*</span></label>
                    <input type="text" id="accountName" class="form-control" formControlName="accountName">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row pt-1">
                <div class="col-12">
                    <button (click)="infoCancel()" type="button"
                        class="byz-btn-trans-r mr-2 text-danger">Cancel</button>
                    <button type="submit" (click)="createUpdateHandler()"
                        class="byz-btn-trans-r mr-2 text-success">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>