@import '../../../assets/styles/site.scss';

.scroll-to-top {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 0;
    font-size: 1.5em;
    border-radius: 8px;
    color: #ffffff;
    width: 38px;
    z-index: 5;
    opacity: 0;
    background-color: $byz-purple-m;

    &:hover {
        background-color: $byz-purple-l;
    }

    &:focus {
        outline: 0;
    }

    span {
        align-self: center;
    }
}

.show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
}