@import '../../../../assets/styles/site.scss';

.recent .table {
    max-height: 220px !important;
}

.recent .blog-title {
    color: $byz-purple-l;
    font-weight: bold;
    
}

.view {
    color: #007ad9 !important;
    &:hover {
        cursor: pointer;
    }
}